<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Node Example</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="/views/mr_whale.html">Mr. Whale</a></li>
				<li class="active"><a href="/whales.html">Whales</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/beluga.jpg" alt="beluga whale">
					<div class="caption">
						<h3>Beluga Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/blue_whale.jpg" alt="Blue whale">
					<div class="caption">
						<h3>Blue Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/bowhead.jpg" alt="Bowhead whale">
					<div class="caption">
						<h3>Bowhead Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/fin_whale.jpg" alt="Fin whale">
					<div class="caption">
						<h3>Fin Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/gray_whale.jpg" alt="Gray whale">
					<div class="caption">
						<h3>Gray Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/humpback_whale.jpg" alt="Humpback whale">
					<div class="caption">
						<h3>Humpback Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/narwhal.jpg" alt="Narwhal whale">
					<div class="caption">
						<h3>Narwhal Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/orca.jpg" alt="Orca (Killer) whale">
					<div class="caption">
						<h3>Orca (Killer) Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/Right_Whale.jpg" alt="Right whale">
					<div class="caption">
						<h3>Right Whale</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="thumbnail">
					<img src="/images/sei_whale.jpg" alt="Sei whale">
					<div class="caption">
						<h3>Sei Whale</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>